h1 {
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    height: 70px;
}

.syousai {
    color: #000000;
    font-size: 20px;
    text-align: center;
    height: 30px;
}

.salad {
    color: #FFFFFF;
    font-size: 40px;
    background-color: red;
    text-align: center;
    margin-top:50px;
}

.setumei {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    background-color: red;
}

.top {
    color: #000000;
    font-size: 20px;
    text-align: center;
    background-color: red;
}