.title {
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    height: 150px;
}

.hakken {
    color: #FFFFFF;
    font-size: 40px;
    background-color: red;
}

.toukou {
    color: #FFFFFF;
    font-size: 40px;
}

.salad {
    display:flex;
}

.top {
    display:flex;
    width:1300px;
    height: 400px;
}

.top2 {
    width:1300px;
}